when you win automatically goes to the next level
flashes level 3 when you win 

when you lose should make you start again
or at the end of the game replay or next level option 

should the score be -1 when you lose?
